:root {
  --oms-white: #FCFBFA;
  --oms-black: #282828;
  
  --oms-green-light: #30A56C;
  --oms-green: #038C67;
  --oms-green-dark: #0B474A;
  --oms-gray: #3B5150;
  --oms-copper: #9C5221;
  --oms-bronze: #393121;

  --oms-divider-light-1: rgba(60, 60, 60, 0.29);
  --oms-divider-light-2: rgba(60, 60, 60, 0.12);
  --oms-divider-dark-1: rgba(84, 84, 84, 0.65);
  --oms-divider-dark-2: rgba(84, 84, 84, 0.48);

  --oms-text-light-1: var(--oms-gray);
  --oms-text-light-2: rgba(60, 60, 60, 0.66);
  --oms-text-dark-1: var(--oms-white);
  --oms-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--oms-black);

  --color-border: var(--oms-bronze);
  --color-border-hover: var(--oms-divider-dark-1);

  --color-link-highlight: var(--oms-green);
  --color-link-hover: var(--oms-green-light);

  --color-heading: var(--oms-text-dark-1);
  --color-text: var(--oms-text-dark-2);

  --gradient-glow: var(--oms-green-dark);
  
  --section-gap: 160px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--oms-white);

    --color-border: var(--oms-divider-light-2);
    --color-border-hover: var(--oms-divider-light-1);

    --color-heading: var(--oms-text-light-1);
    --color-text: var(--oms-text-light-1);

    --color-link-highlight: var(--oms-green);
    --color-link-hover: var(--oms-green-dark);

    --gradient-glow: var(--oms-green);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
